body {
    background: black url(./images/css_animation_exercise_stage.png) 0 0 no-repeat;
}

#stage {
  width: 600px;
  height: 600px;
  background-color: #F4ECEC;
  outline: dashed;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(css_animation_exercise_4.png);
  background-repeat: no-repeat;
}

#hero {
  border-color: red;
  border-style: dashed;
  border-width: thin;
  top: 21px;
  left: 20px;
  height: 72px;
  width: 73px;
  position: relative;
}
@@keyframes stage {

}
