body {
}

#stage {
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(https://becodeorg.github.io/end-of-prairie-technical-drill/images/css_animation_exercise_stage.png);
}

#hero {
  box-sizing: border-box;
  border-color: red;
  border-style: dashed;
  border-width: thin;
  top: 19px;
  left: 19px;
  height: 75px;
  width: 75px;
  position: relative;
  animation: stage-1, stage-2, stage-3, stage-4, stage-5;
  animation-duration: 5s, 2s, 0.5s, 2.5s, 5s;
  animation-delay: 0s, 5s, 7s, 9.5s, 12s;
  animation-fill-mode: forwards;
}

@keyframes stage-1 {
      0% {
          top: 19px; left: 19px;}
      100% {
           top: 19px; left: 500px;}
      }
@keyframes stage-2 {
      0% {
          top: 19px; left: 500px;}
      100% {
          top: 200px; left: 500px;}
      }

@keyframes stage-3 {
      0% {
          top: 200px; left: 500px;}
      100% {
          top: 200px; left: 270px; transform: rotate(45deg);}

}

@keyframes stage-4 {
      0% {
          top: 200px; left: 270px; transform: rotate(45deg);}
      100% {
          top: 203px; left: 19px; border-color: #0900BD;}
}

@keyframes stage-5 {
      0% {
          top: 203px; left: 19px;}
      100% {
          top: 440px; left: 440px; background: radial-gradient(#FBDA61,#F76B1C); height: 150px; width: 150px; border-radius: 50%; border-style: none;}
}
