body {
}

#stage {
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(css_animation_exercise_4.png);
}

#hero {
  border-color: red;
  border-style: dashed;
  border-width: thin;
  top: 20px;
  left: 20px;
  height: 75px;
  width: 75px;
  animation: stag 15s;
  position: relative;
}

@keyframes stag {
  0% {
    top: 20px; left: 20px;
  }

  15% {
    top: 100px; left: 100px;
  }

  30% {
    top: 45px; left: 45px;
  }

  45% {
    top: 45px; left: 45px;
  }

  65% {
    top: 45px; left: 45px;
  }

  80% {
    top: 45px; left: 45px;
  }

  100% {
    top: 120px; left: 120px;
  }

}
